// =======
// colors
// =======

$lightBg: #f8f9fe;
$default: #172b4d;
$primary: #5e72e4;
$secondary: #f7fafc;
$info: #11cdef;
$success: #2dce89;
$warning: #ff9f89;
$danger: #f5365c;
$primaryText: #32325d;

@mixin bgDefaultAlpha($alpha) {
  background-color: rgba(23, 43, 77, $alpha);
}

@mixin bgInfoAlpha($alpha) {
  background-color: rgba(17, 205, 239, $alpha);
}

@mixin bgPrimaryAlpha($alpha) {
  background-color: rgba(94, 114, 228, $alpha);
}

@mixin bgPrimaryTextAlpha($alpha) {
  color: rgba(50, 50, 93, $alpha);
}

.primary-bg {
  background-color: $primary;
}

.secondary-bg {
  background-color: $secondary;
}

.primary-text {
  color: $primary;
}

.secondary-text {
  color: $secondary;
}

// =======
// layout spacing/sizes
// =======

$unit: 8px;
$padding-sm: 24px;
$padding-lg: 32px;
$inputHeight: 40px;
$borderRad: 6px;
$topSpace: 84px;
$avatarSize: 40px;

// =======
// grid
// =======

.grid {
  display: flex;
  flex-wrap: wrap;
}

.column {
  box-sizing: border-box;
  flex: 1;
}

.bigger { flex: 2.5; }
.full .column  { flex: 0 0 100%; }
.halves .column  { flex: 0 0 50%; }
.thirds .column  { flex: 0 0 33.3333%; }
.fourths .column { flex: 0 0 25%; }

.center-kids { justify-content: center; }
.align-kids { align-items: center; }

@media (min-width: 640px) {
  .bigger-md { flex: 2.5; }
  .full-md .column  { flex: 0 0 100%; }
  .halves-md .column  { flex: 0 0 50%; }
  .thirds-md .column  { flex: 0 0 33.3333%; }
  .fourths-md .column { flex: 0 0 25%; }

  .center-kids-md { justify-content: center; }
  .align-kids-md { align-items: center; }
}

@media (min-width: 980px) {
  .bigger-lg { flex: 2.5; }
  .full-lg .column  { flex: 0 0 100%; }
  .halves-lg .column  { flex: 0 0 50%; }
  .thirds-lg .column  { flex: 0 0 33.3333%; }
  .fourths-lg .column { flex: 0 0 25%; }
  .center-kids-lg { justify-content: center; }
  .align-kids-lg { align-items: center; }
  .hide-lg { display: none; }
}

// =======
// misc defaults
// =======

$panelShadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15);
$hoverShadow: 0 0 2rem 0 rgba(136, 152, 170, 0.3);

%flex { display: flex; }
.flexBetween { @extend %flex; justify-content: space-between; }

.def-radius {
  border-radius: $borderRad;
}

.no-bounds {
  outline: none;
  border: 0;
}

@mixin smallCaps() {
  text-transform: lowercase;
  font-variant: small-caps;
}

.mb {
  margin-bottom: $unit*4;
}

// =======
// global base
// =======

html {
  box-sizing: border-box;
  height: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $lightBg;
  color: $primaryText;
  padding: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0 0;
}

// =======
// components
// =======

.vert-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shadow {
  position: relative;
  box-shadow: $panelShadow;
  z-index: 2;

  &.hovers::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    box-shadow: $hoverShadow;
    transition: opacity 0.3s ease-in-out;
  }

  &.hovers:hover {
    &::after {
      opacity: 1;
    }
  }
}

.card-panel {
  background-color: #fff;
  border-radius: $borderRad;
  padding: $unit*2;
}

.button {
  cursor: pointer;
}

.selectWrapper {
  position: relative;
  padding: $unit;
  background-color: $lightBg;

  select {
    border: 0;
    outline: none;
    background: transparent;
    width: 100%;
    @include bgPrimaryTextAlpha(0.7);
    font-size: 14px;
  }
}

.selectList {
  padding: 0;
  margin: 0;
  list-style-type: none;

  .selectListItem {
    padding: $unit*2 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(34, 42, 66, 0.1);
    transition: color 0.2s;

    &:hover {
      color: $primary;
    }

    &:last-child {
      border-bottom: 0;
    }

    &.selected {
      color: $primary;
    }
  }

  .issueListItem {
    display: flex;
    outline: none;

    .imgWrap {
      width: $avatarSize;
      height: $avatarSize;
    }

    img {
      display: block;
      width: $avatarSize;
      height: $avatarSize;
      border-radius: 50%;
      flex-basis: $avatarSize;
    }

    .details {
      padding-left: $unit;
      font-size: 16px;
    }

    .times {
      font-size: 12px;
      opacity: 0.6;
    }

    &.selected {
      background-color: $lightBg;
    }
  }
}

.button {
  background-color: $primary;
  border: 1px solid $primary;
  font-weight: 500;
  color: $secondary;
  border-radius: $borderRad;
  margin: $unit;
  font-size: 14px;
  padding: 0 20px;
  height: 32px;
  line-height: 32px;

  span {
    user-select: none;
  }
}

.emptyState {
  h5 {
    width: 100%;
    text-align: center;
  }

  .notALie {
    margin: $unit auto;
    width: 13px;
    height: 14px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 $unit*3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: $primary;

  a {
    text-decoration: none;
  }

  .page-title {
    color: $secondary;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0.02em;
    @include smallCaps();
  }

  .button {
    max-height: 40px;
    background-color: transparent;
    border-color: transparent;
    color: $secondary;
    font-weight: 600;
    padding: 0 0 0 ;
    margin: 0 0 0 ;
    align-self: center;
    @include smallCaps();
  }
}

.container {
  padding: 84px $padding-sm $padding-sm
}

h5 {
  font-weight: 500;
  font-variant: small-caps;
  text-transform: lowercase;
  opacity: 0.5;
  margin-bottom: $unit / 2;
}

.auth {
  min-height: calc(100vh - 64px);

  .card-panel {
    max-width: 500px;
    max-height: 200px;
    margin-top: 80px;
    padding-top: $padding-lg;
    padding-bottom: $padding-lg;
  }

  .textField {
    width: 100%;
    padding: $unit;
  }

  .button {
    display: block;
    margin: 0 auto;
    padding: 0 $unit * 2;
    margin-top: $unit * 2;
    font-weight: bold;
    background-color: $primary;
    color: $secondary;
  }
}

.repos {
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: $unit;
    max-width: 70%;
    display: inline-block;
  }

  .panel {}
}

.repoSelect {
  order: 2;
}

.issues {
  order: 1;
  margin-bottom: $unit * 2;

  .button {
    border-color: transparent;
    outline: none;
    transition: filter 0.2s;
    display: inline-block;
    line-height: 1.15;
    font-size: 13px;
    vertical-align: bottom;
    margin-top: 0;
    margin-right: 0;

    &:hover {
      filter: brightness(120%);
    }
  }
}

@media (min-width: 640px) {
  .auth {
    .card-panel {
      margin-top: initial;
    }

    .button {
      background-color: $primary;
      color: $secondary;
      margin-right: initial;
    }
  }
}

@media (min-width: 768px) {
  .repos {
    flex-direction: row;

    .panel {
      width: calc(50% - 8px);

      &:first-child {
        margin-right: $unit*2;
      }
    }
  }

  .repoSelect {
    order: 1;
  }

  .issues {
    order: 2;

    .flexBetween {
      margin-bottom: 4px;
    }

    .button {

      &.hide-lg { display: none; }
    }
  }
}

@keyframes slideIn {
  0% {
    left: 100vh;
  }
  100% {
    left: 0;
  }
}
